.env
OldMessages.json

factsSearchProject/__pycache__/
factsSearchProject/emb/

factsSearchProject/scores.ipynb
factsSearchProject/.env

ecommerce-agents/.env
ecommerce-agents/__pycache__/
ecommerce-agents/tools/__pycache__/
ecommerce-agents/handlers/__pycache__/
